# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\School\ECE 3330\CodingComp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
